// provide some styling to the component

.Profile{
    display: flex;
    justify-content: center;
}
.Profile_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
    width: 60%;
}

.subHeader{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
}



.playerImg, .logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}


.Players{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.teamsList,.playersList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    flex-wrap: wrap;
    *{
        flex: 1 1 30%;
    }
    list-style: none;
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


