@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

body {
  background-color: whitesmoke;
}

.navbar {
  padding-inline: 20px;
  display: flex;
  align-items: center;
  max-width: 80vw;
  min-height: 10vh;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
  background-color: white;
}

.navbar img {
  width: 10vw;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 1vw;
  text-decoration: none;
  padding-inline: 6px;
  font-size: 2vw;
}
@media only screen and (max-width: 700px) {
  .navbar a {
    font-size: 4vw;
  }
}

.navbar a:hover {
  color: #f1356d;
}

.header {
  color: #070606;
  font-family: arial, sans-serif;
  font-size: 8ch;
  font-weight: bold;
  margin-left: 5%;
  margin-bottom: 1px;
}
@media only screen and (max-width: 900px) {
  .header {
    text-align: center;
  }
}

.teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin-inline: auto;
  background-color: whitesmoke;
  padding: 3%;
}
.teams a {
  flex-basis: 45%;
  text-decoration: none;
  margin: 1%;
}
@media only screen and (max-width: 900px) {
  .teams a {
    flex-basis: 90%;
    margin-inline: auto;
  }
}
.teams .team {
  transition: all 500ms ease;
  margin: 2vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 3%;
}
.teams .team:hover {
  transform: skew(-1deg);
}
.teams .team .team-title {
  width: 40%;
}
.teams .team .team-title h1 {
  text-align: center;
  margin-bottom: 1%;
}
.teams .team .team-img {
  text-align: center;
}
.teams .team .team-img img {
  width: 15vw;
  padding: 1vw;
}
.teams .team .team-img img:hover {
  cursor: pointer;
}

.addTeamForm {
  float: right;
}

.teamOverview {
  margin-top: 1vh;
  width: 80vw;
  padding: 20px;
  margin-inline: auto;
  background-color: white;
}
.teamOverview a {
  margin: 1%;
}
.teamOverview .teamInfo .teamInfo-header {
  border-bottom: 2px solid whitesmoke;
}
.teamOverview .teamInfo .teamInfo-header h1 {
  text-align: center;
  padding-bottom: 1vw;
}
.teamOverview .teamInfo .teamInfo-container {
  padding-top: 1vw;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 900px) {
  .teamOverview .teamInfo .teamInfo-container {
    flex-wrap: wrap;
  }
  .teamOverview .teamInfo .teamInfo-container .teamLogo, .teamOverview .teamInfo .teamInfo-container .contact, .teamOverview .teamInfo .teamInfo-container .teamImage {
    flex-basis: 90%;
  }
}
.teamOverview .teamInfo .teamInfo-container .teamLogo {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.teamOverview .teamInfo .teamInfo-container .teamLogo img {
  width: 20vw;
}
.teamOverview .teamInfo .teamInfo-container .contact {
  width: 20%;
}
.teamOverview .teamInfo .teamInfo-container .contact h1 {
  text-align: center;
}
.teamOverview .teamInfo .teamInfo-container .teamImage {
  border: 1px solid whitesmoke;
  width: 50%;
  margin: auto;
  text-align: center;
}
.teamOverview .roster {
  text-align: center;
  padding: 1vw;
  margin-top: 5vh;
}
.teamOverview .teamPlayers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.teamOverview .teamPlayers a {
  text-decoration: none;
  transition: all 500ms ease;
}
.teamOverview .teamPlayers a:hover {
  transform: skew(-1deg);
}
.teamOverview .teamPlayers .player {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 1vh;
}
@media only screen and (max-width: 900px) {
  .teamOverview .teamPlayers .player {
    flex-basis: 40%;
  }
}
@media only screen and (max-width: 700px) {
  .teamOverview .teamPlayers .player {
    flex-basis: 80%;
    margin-inline: auto;
  }
}
.teamOverview .teamPlayers .player img {
  width: 40%;
}

.playerDetails {
  margin-top: 10vh;
  display: grid;
  justify-content: center;
}

h2 {
  background-color: gray;
  text-align: center;
}

.ScoreBoard .clock-buttons {
  display: flex;
  justify-content: space-around;
}
.ScoreBoard .clock-buttons button {
  width: 10vw;
  height: 10vh;
  font-size: 2vw;
}
.ScoreBoard .time {
  width: 8ch;
}
.ScoreBoard .header {
  display: flex;
  justify-content: space-between;
}
.ScoreBoard .header .edit {
  margin-block: 7vh;
  margin-inline: 2vw;
}
.ScoreBoard .content {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}
.ScoreBoard .content p {
  margin: 0;
  font-size: xx-large;
}
.ScoreBoard .content .team {
  flex-basis: 40%;
  display: flex;
  justify-content: space-between;
}
.ScoreBoard .content .team .team-leftbar {
  display: flex;
  flex-direction: column;
}
.ScoreBoard .content .team .team-leftbar button:last-of-type {
  background-color: red;
}
.ScoreBoard .content .team .team-rightbar .team-name {
  font-size: xx-large;
}
.ScoreBoard .content .team .team-rightbar .team-score {
  text-align: center;
  font-size: 400%;
}
.ScoreBoard .content .team button {
  width: 7vw;
  height: 7vh;
  margin: 7%;
  border-radius: 45%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
}/*# sourceMappingURL=index.css.map */