@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
body{
  background-color: whitesmoke;
}

.header{
    color: #070606;
    font-family: arial, sans-serif;
    font-size: 8ch;
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: 1px;
    @media only screen and (max-width: 900px) {
      text-align: center;
    }
}

.addTeamForm{
  float: right;
}

h2{
  background-color: gray;
  text-align: center;
}
