@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
body{
  background-color: whitesmoke;
}
.navbar {
  padding-inline: 20px;
  display: flex;
  align-items: center;
  max-width: 80vw;
  min-height: 10vh;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
  background-color: white;
}
.navbar img {
  width: 10vw;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  @media only screen and (max-width: 700px) {
    font-size: 4vw;
  }
  margin-left: 1vw;
  text-decoration: none;
  padding-inline: 6px;
  font-size: 2vw;
}
.navbar a:hover {
  color: #f1356d;
}

.header{
    color: #070606;
    font-family: arial, sans-serif;
    font-size: 8ch;
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: 1px;
    @media only screen and (max-width: 900px) {
      text-align: center;
    }
}
.teams{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-inline: auto;
    background-color: whitesmoke;
    padding: 3%;
    a{
      flex-basis: 45%;
      text-decoration: none;
      margin: 1%;
      @media only screen and (max-width: 900px) {
        flex-basis: 90%;
        margin-inline: auto;
      }

    }
    .team{
      transition: all 500ms ease; 
      &:hover{
        transform: skew(-1deg);      
      }
        margin: 2vh;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 3%;
        .team-title{
            width: 40%;
            h1{
                text-align: center;
                margin-bottom: 1%;
            }
        }
        
        .team-img{
            text-align: center;
            img{
                width: 15vw;
                padding: 1vw;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    
}

.addTeamForm{
  float: right;
}

.teamOverview{
  a{
    margin: 1%;
  }
  margin-top: 1vh;
  width: 80vw;
  padding: 20px;
  margin-inline: auto;
  background-color: white;
  .teamInfo{
    .teamInfo-header{
      h1{
        text-align: center;
        padding-bottom: 1vw;
      }
      border-bottom: 2px solid whitesmoke;
    }
    .teamInfo-container{
      @media only screen and (max-width: 900px) {
        flex-wrap: wrap;
        .teamLogo, .contact, .teamImage{
          flex-basis: 90%;
        }
      }
      padding-top: 1vw;
      display: flex;
      justify-content: space-around;
      .teamLogo{
        max-width: fit-content;
        img{
          width: 20vw;
        }
        
      }
      .contact{
        width: 20%;
        h1{
          text-align: center;
        }
      }
      .teamImage{
        border: 1px solid whitesmoke;
        width: 50%;
        margin:auto;
        text-align: center;
      }
    }
    
  }
  .roster{
    text-align: center;
    padding: 1vw;
    margin-top: 5vh;
  }
  
  .teamPlayers{
    a{
      text-decoration: none;
      transition: all 500ms ease; 

      &:hover{
        transform: skew(-1deg);      

      }
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   .player{
    flex-basis: 30%;
    @media only screen and (max-width: 900px) {
      flex-basis: 40%;
    }
    @media only screen and (max-width: 700px) {
      flex-basis: 80%;
      margin-inline: auto;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 1vh;
     img{
       width: 40%;
     }

   }
  }
}
.playerDetails{
  margin-top: 10vh;
  display: grid;
  justify-content: center;
}

h2{
  background-color: gray;
  text-align: center;
}

.ScoreBoard{
  .time{
    width: 8ch;
  }
  .header{
    display: flex;
    justify-content: space-between;
  }
  .content{
      display: flex;
      justify-content: space-between;
      p{
        margin: 0;
        font-size: xx-large;
      }
      padding: 5%;
    .team{
      flex-basis: 40%;
      display: flex;
      justify-content: space-between;
      .team-leftbar{
        display: flex;
        flex-direction: column;
        button:last-of-type{
          background-color: red;
        }
      }
      .team-rightbar{
        .team-name{
          font-size: xx-large;
        }
        .team-score{
          text-align: center;
          font-size: 400%;
        }
      }
      button{
        width: 7vw;
        height: 7vh;
        margin: 7%;
        border-radius: 45%;
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        text-decoration: none;
        display: inline-block;
        
      }
    }
  }
  
}