.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
  background-color: white;

  img {
    width: 150px;
  }

  .links {
    display: flex;
    margin-right: 10vw;
    margin-left: auto;

    a, .login, p {
      // margin-left: 1vw;
      text-decoration: none;
      padding-inline: 6px;
      font-size: 2vw;

      &:hover {
        color: #f1356d;
      }
    }
  }

 

  .login {
    background-color: #f1356d;
    color: white;
    padding: 5px ;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
      background-color: #d32f6c;
    }
    
  }

  /* Add a media query to change the layout of the navbar on smaller screens */
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    
    img{
      

      width: 100px;
    }
    .links {
      display: flex;
      justify-content: space-around;
      padding: 1rem;
      a, .login {
        margin-block: auto;
        font-size: 4vw;
      }
    }

   
  }
}