
.ScoreBoard{
 
    .clockButtons{
      display: flex;
      justify-content: space-around;
      button{
        width: 10vw;
        height: 10vh;
        font-size: 2vw;
      }
    }
  
  .time{
    width: 8ch;
  }
  .header{
    display: flex;
    justify-content: space-between;
    .edit{
      
      margin-block: 7vh;
      margin-inline: 2vw;
    }
  }
  .content{
      display: flex;
      justify-content: space-between;
      p{
        margin: 0;
        font-size: xx-large;
      }
      padding: 5%;
    .team{
      flex-basis: 40%;
      display: flex;
      justify-content: space-between;
      .teamLeftbar{
        display: flex;
        flex-direction: column;
        button:last-of-type{
          background-color: red;
        }
      }
      .teamRightbar{
        .teamName{
          font-size: xx-large;
        }
        .teamScore{
          text-align: center;
          font-size: 400%;
        }
      }
      button{
        width: 7vw;
        height: 7vh;
        margin: 7%;
        border-radius: 45%;
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        text-decoration: none;
        display: inline-block;
        
      }
    }
  }
  
}