.Standings {
    padding: 20px;
    .header {
    text-align: center;
    }
    .table {
    margin-top: 20px;
    .tableHeader {
    display: flex;
    h3 {
    flex: 1;
    text-align: center;
    
    }
    }
    }
    }
    .tableBody {
    .tableRow {
    display: flex;
    h3 {
    flex: 1;
    text-align: center;
    font-weight: lighter;
    }
    }
    }
    