@import '../../Styles/variables';
footer {
    height: 8vh;
    background-color: $green;
    // border-top: 1px solid #999;
    text-align: center;
    font-size: 2ch;
    p {
        color: white;
        a {
            display: inline-block;
            color: white;
            text-decoration: none;
            &:hover {
                transition: 400ms;
                color: $red;
            }
        }
    }
    

    @media (max-width: 768px) {
        font-size: 9px;
    }
}
