.playerOverview {
    margin-top: 10vh;
    display: grid;
    justify-content: center;
  }


// edit button 
.editBtn{
 
  margin: 1vw;
  border-radius: 5px;
  padding: 1vw;
  border: none;
  background-color: white;
  &:hover{
    background-color: red;
  }
  img{
    width: 2vw;
  }
}
