@import "../../Styles/variables.scss";
.header {
  font-size: 7ch;
  margin-block: 5vh;
}
.teams {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  background-color: $main;
  padding: 3%;
  a {
    flex-basis: 22%;
    text-decoration: none;
    margin: 1%;
    @media screen and (max-width: 1100px) {
      flex-basis: 40%;
      margin-inline: auto;
    }
    @media only screen and (max-width: 900px) {
      flex-basis: 100%;
      margin-inline: auto;
    }
  }
  .team {
    width: 20vw;
    transition: 400ms;
    &:hover {
      background-color: red;
      transform: scale(
        1.08
      ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    background-color: $mid;
    h1 {
      font-size: 2ch;
      margin: 0;
      padding: 1vw;
      @media only screen and (max-width: 900px) {
        font-size: 4vw;
      }
    }
    * {
      color: black;
    }
    border-radius: 20px;

    .teamImg {
      text-align: center;
      img {
        width: 100px;
        height: 100px;
        padding: 1vw;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
