.header{
    font-size: 7ch;
    margin-block: 5vh;
  }
 
  .teamImg{
    width: 100px;
  }
.gamesList{
    min-height: 70vh;
    padding: 3%;
    p{
        font-weight: 700;
    }
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .game{
        flex: 1 1 100%;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        background-color: white;
        border-radius: 10px;
        @media (max-width: 768px){
            display: flex;
            flex-direction: column;
            
        }

        .game_leftbar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
        }
        .game_main{
            display: grid;
            grid-template-columns: 2fr 1fr 2fr;
            justify-content: center;
            align-items: center;
            .team1, .team2{
                display: grid;
                align-items: center;
                
               
                .teamImg{
                    width: 70px;
                    height: 70px;
                    margin-inline: auto;
                    img{
                        margin: 0;
                    }
                }
            }
            .team1{
                //start from the right
                grid-template-columns: 2fr 1fr;
                p{
                    text-align: center;
                }
                
            }
            .team2{
                //start from the left
                grid-template-columns: 1fr 2fr;
                p{
                    text-align: center;
                }
            }
            .score{
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-size: 3ch;
                }
            }
        
            
        }
        .game_rightbar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .details{
                //make this button nice
                background-color: #f5f5f5;
                border: none;
                border-radius: 5px;
                padding: 5px;
                cursor: pointer;
                &:hover{
                    background-color: #e0e0e0;
                }
                a{
                    text-decoration: none;
                    color: black;
                }
            }

            @media (max-width: 768px){
                display: grid;
                grid-template-columns: 1fr 2fr 1fr;
                justify-content: space-around;
                width: 100%;
                padding: 10px;
                .details{
                    grid-column: 2;
                }
            }
        }
    }
}